<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IChatService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ILoginService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IRoomService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="net.tcp://localhost:8090/BastaService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatService" contract="Proxy.IChatService"
    name="NetTcpBinding_IChatService">
    <identity>
     <userPrincipalName value="DESKTOP-LBRH114\adrian" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/BastaService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILoginService" contract="Proxy.ILoginService"
    name="NetTcpBinding_ILoginService">
    <identity>
     <userPrincipalName value="DESKTOP-LBRH114\adrian" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/BastaService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IRoomService" contract="Proxy.IRoomService"
    name="NetTcpBinding_IRoomService">
    <identity>
     <userPrincipalName value="DESKTOP-LBRH114\adrian" />
    </identity>
   </endpoint>
  </client>
  <services>
			<service name="Basta.Service.BastaService" >
				<endpoint address="" binding="wsDualHttpBinding"  contract="Basta.Contracts.IChatService" />
				<endpoint address="" binding="wsDualHttpBinding"  contract="Basta.Contracts.ILoginService" />
				<endpoint address="" binding="wsDualHttpBinding"  contract="Basta.Contracts.IRoomService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:4200/BastaService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>