<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="Basta.Service.BastaService"	>
				<endpoint address="" binding="wsDualHttpBinding"  contract="Basta.Contracts.IChatService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:80/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
</configuration>