<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

  <connectionStrings>
    <add name="BastaEntityModelContainer" connectionString="metadata=res://*/Entity.BastaEntityModel.csdl|res://*/Entity.BastaEntityModel.ssdl|res://*/Entity.BastaEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LBRH114;initial catalog=Basta;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


	<system.serviceModel>
		<services>
			<service name="Basta.Service.BastaService"	>
				<endpoint address="BastaService" binding="netTcpBinding"   contract="Basta.Contracts.ILoginService" />
				<endpoint address="BastaService" binding="netTcpBinding"   contract="Basta.Contracts.IRoomService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:4200/" />
						<add baseAddress="net.tcp://localhost:8090" />

					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding sendTimeout="00:03:00"  closeTimeout="00:03:00" receiveTimeout="00:59:00" maxBufferSize="5242880" maxBufferPoolSize="52428800" maxReceivedMessageSize="5242880"  ></binding>
			</netTcpBinding>
		</bindings>
		
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					
					
				</behavior >
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>