<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Basta.Properties.Settings"
     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
   type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
   requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<userSettings>
		<Basta.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>es-ES</value>
			</setting>
		</Basta.Properties.Settings>
	</userSettings>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>

	<connectionStrings>
		<add name="BastaEntityModelContainer" connectionString="metadata=res://*/Entity.BastaEntityModel.csdl|res://*/Entity.BastaEntityModel.ssdl|res://*/Entity.BastaEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LBRH114;initial catalog=Basta;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>


	<system.serviceModel>
		<client>
      <endpoint address="net.tcp://localhost:8090/BastaService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_ILoginService" contract="Proxy.ILoginService"
          name="NetTcpBinding_ILoginService">
          <identity>
              <userPrincipalName value="DESKTOP-LBRH114\adrian" />
          </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/BastaService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IRoomService" contract="Proxy.IRoomService"
          name="NetTcpBinding_IRoomService">
          <identity>
              <userPrincipalName value="DESKTOP-LBRH114\adrian" />
          </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/BastaService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IGameService" contract="Proxy.IGameService"
          name="NetTcpBinding_IGameService">
          <identity>
              <userPrincipalName value="DESKTOP-LBRH114\adrian" />
          </identity>
      </endpoint>
  </client>
  <services>
			<service name="Basta.Service.BastaService" >
				<endpoint address="BastaService" binding="netTcpBinding"   contract="Basta.Contracts.IGameService" />
				<endpoint address="BastaService" binding="netTcpBinding"   contract="Basta.Contracts.ILoginService" />
				<endpoint address="BastaService" binding="netTcpBinding"   contract="Basta.Contracts.IRoomService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:4200/" />
						<add baseAddress="net.tcp://localhost:8090" />

					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
      <netTcpBinding>
          <binding closeTimeout="00:03:00" receiveTimeout="00:59:00" sendTimeout="00:03:00" />
          <binding name="NetTcpBinding_ILoginService">
              <security>
                  <transport sslProtocols="None" />
              </security>
          </binding>
          <binding name="NetTcpBinding_IRoomService">
              <security>
                  <transport sslProtocols="None" />
              </security>
          </binding>
          <binding name="NetTcpBinding_IGameService">
              <security>
                  <transport sslProtocols="None" />
              </security>
          </binding>
      </netTcpBinding>
  </bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>

					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior >
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>